.notifications
  alert(
    type="'danger'",
    icon="false",
    text="Если вы хотите получать письма, пожалуйста укажите ваш email в профиле.",
    link="profile",
    ng-if="vm.user && !vm.user.email"
  )

  h1 Уведомления

  loading(ng-if="!vm.notifications")


  div(ng-if="vm.$empty")
    .align-center
      p.vOfs Почтальён в загул ушел
      img.mailman(src="/assets/img/mailman2.png", title="mailman")
      p.vOfs Попробуйте добавить вопрос, чтобы вас заметили
      a.btn.btn-primary(ui-sref="fresh") Последние вопросы

  div(ng-if="vm.notifications.length",infinite-scroll="vm.loadMore()" infinite-scroll-distance="3")
    div(ng-if="vm.notificationsNew.length")
      h2 Новые
      notification-list-item(notification="item", ng-repeat="item in vm.notificationsNew track by $index")
    div(ng-if="vm.notificationsOlder.length")
      h2 Просмотренные
      notification-list-item(notification="item", ng-repeat="item in vm.notificationsOlder track by $index")
