.profile-page
  .container-fluid.main-block
    h1 Profile

    .row
      .col-xs-3
        img.user-avatar.img-responsive(ng-src="{{ vm.user.avatar }}", ng-show="vm.user.avatar")
      .col-xs-7
        h4(ng-hide="vm._edit_name") {{ vm.user.name }}
        form.form(ng-if="vm._edit_name", name="vm.nameFrm", ng-submit="vm.setName(vm.nameFrm)")
          div.form-group(ng-class="{'has-error': nameFrm.$invalid}")
            label.hidden(for="name") Name
            input.form-control#name(
              type="text",
              name="name",
              ng-model="vm.user.name",
              maxlength="32",
              minlength="1",
              ng-pattern="/^[a-zA-Z0-9-_. ]+$/",
              ng-minlength="1",
              ng-maxlength="32",
              required,
              esc-key="vm.cancelEditField('name');",
              auto-focus)
            div(ng-messages="vm.nameFrm.name.$error", role="alert")
              div(ng-message="required") Please tell us your name.
              div(ng-message="maxlength") This might be too long to remember.
              div(ng-message="pattern") Would be nice to use only letters and numbers. And maybe dash.

      .col-xs-1
        a.edit-name(ng-click="vm.editField('name')", ng-hide="vm._edit_name", bs-tooltip, title="Change your username")
          i.icon.icon-loliful-icon-edit
        a.edit-name.btn.btn-mini.btn-primary(ng-click="vm.setName(vm.nameFrm)", ng-show="vm._edit_name")
          i.icon.icon-loliful-icon-checkmark

    .row.about-me
      .col-xs-10
        p(ng-hide="vm._edit_about") {{ vm.user.about || '[about me]' }}
        form.form(ng-if="vm._edit_about", ng-submit="vm.setAbout()")
          div.form-group
            label.hidden(for="about") About me
            textarea.form-control#about(
              type="text",
              ng-model="vm.user.about",
              maxlength="500",
              ng-maxlength="500",
              esc-key="vm.cancelEditField('about');",
              auto-focus)
      .col-xs-1
        a.edit-name(ng-click="vm.editField('about')", ng-hide="vm._edit_about")
          i.icon.icon-loliful-icon-edit
        a.edit-name.btn.btn-mini.btn-primary(ng-click="vm.setAbout()", ng-show="vm._edit_about")
          i.icon.icon-loliful-icon-checkmark

    .social-profile.text-center
      table(border="0")
        tr
          td
            img(ng-src="/assets/img/f-{{vm.social.facebook ? 'on' : 'off'}}.svg", title="Facebook")
          td
            img(ng-src="/assets/img/t-{{vm.social.twitter ? 'on' : 'off'}}.svg", title="Twitter")
          td
            img(ng-src="/assets/img/g-{{vm.social.google ? 'on' : 'off'}}.svg", title="Google")
        tr.actions
          td
            span(ng-show="vm.social.facebook") Connected
            a(href="{{api}}/link/facebook", ng-click="vm.connectAcc()", ng-if="!vm.social.facebook") Connect
            a(ng-click="vm.unlinkAccount('facebook')", ng-if="vm.social.facebook && vm.linkedAccounts > 1") Disconnect
          td
            span(ng-show="vm.social.twitter") Connected
            a(href="{{api}}/link/twitter", ng-click="vm.connectAcc()", ng-if="!vm.social.twitter") Connect
              a(ng-click="vm.unlinkAccount('twitter')", ng-if="vm.social.twitter && vm.linkedAccounts > 1") Disconnect
          td
            span(ng-show="vm.social.google") Connected
            a(href="{{api}}/link/google", ng-click="vm.connectAcc()", ng-if="!vm.social.google") Connect
            a(ng-click="vm.unlinkAccount('google')", ng-if="vm.social.google && vm.linkedAccounts > 1") Disconnect

  div.stats
    hr

    h5
      i.icon.icon-loliful-icon-stats
      | Statistics

    p(ng-if="!vm.stats") Loading stats ..
    div.row(ng-if="vm.stats")
      div.col-xs-4.statistic-col
        .statistic
          h3.title Intros
          h1.count {{ vm.stats.nailCount || 0 }}
          div.hearts(bs-tooltip, title="So many people liked youre intros")
            i.icon.icon-loliful-icon-liked
            | {{ vm.stats.nailKarma || 0}}
      div.col-xs-4.statistic-col
        .statistic
          h3.title Outros
          h1.count {{ vm.stats.hammerCount || 0 }}
          div.hearts(bs-tooltip, title="So many people liked youre outros")
            i.icon.icon-loliful-icon-liked
            | {{ vm.stats.hammerKarma || 0}}
      div.col-xs-4.statistic-col
        .statistic
          h3.title Rank
          h1.count {{ vm.stats.rating.position || '-' }}
          .hearts(ng-if="vm.stats.total") out of {{ vm.stats.total }}

  div.email-preferences
    hr

    h5
      i.icon.icon-loliful-icon-notifications
      | Email notifications

    .row

      form.form.col-xs-12.col-sm-6(name="settings", ng-submit="vm.saveSettings();")
        div.form-group
          label.col-xs-10(for="n-reply") Someone replies to my intro
          .col-xs-2
            input.form-control#n-reply(type="checkbox", ng-model="vm.notifications.emailReply", ng-true-value="1", ng-false-value="0")
        div.form-group
          label.col-xs-10(for="n-like") Someone likes my outro
          .col-xs-2
            input.form-control#n-like(type="checkbox", ng-model="vm.notifications.emailLike", ng-true-value="1", ng-false-value="0")
        div.form-group
          .col-xs-9 &nbsp;
          .col-xs-3
            button.btn.btn-primary(type="submit", ng-disabled="settings.$pristine || vm.savingSettings") Save

        div.form-group.topOfs
          label.col-xs-12 Here is my email to send fun stuff to
          input.col-xs-12.form-control#email(type="text", ng-model="vm.user.email", disabled)
        //div.form-group
        //  button.pull-right.btn.btn-default(type="submit", disabled) Save
