.profile-page
  .container-fluid.main-block
    h1.botOfs Profile

    .row
      .col-xs-3.avatar
        img.user-avatar.img-responsive.fix-dimensions(ng-src="{{ vm.user.avatar }}", ng-show="vm.user.avatar")
      .col-xs-9
        h4(ng-hide="vm._edit_name")
          | {{ vm.user.name }}
          a.edit-name(ng-click="vm.editField('name')", ng-hide="vm._edit_name", bs-tooltip, title="Change your username")
            i.icon.icon-loliful-icon-edit

        form.form(ng-if="vm._edit_name", name="vm.nameFrm", ng-submit="vm.setName(vm.nameFrm)")
          div.form-group(ng-class="{'has-error': nameFrm.$invalid}")
            label.hidden(for="name") Name
            table.input-table(border="0")
              tr
                td
                  input.form-control#name(
                    type="text",
                    name="name",
                    ng-model="vm.user.name",
                    maxlength="32",
                    minlength="1",
                    ng-pattern="/^[a-zA-Z0-9-_. ]+$/",
                    ng-minlength="1",
                    ng-maxlength="32",
                    required,
                    esc-key="vm.cancelEditField('name');",
                    auto-focus)
                td
                  a.edit-name.btn.btn-mini.btn-primary(ng-click="vm.setName(vm.nameFrm)", ng-show="vm._edit_name")
                    i.icon.icon-loliful-icon-checkmark

            div(ng-messages="vm.nameFrm.name.$error", role="alert")
              div(ng-message="required") Please tell us your name.
              div(ng-message="maxlength") This might be too long to remember.
              div(ng-message="pattern") Would be nice to use only letters and numbers. And maybe dash.

    .row.about-me.topOfs
      .col-xs-12
        p(ng-hide="vm._edit_about")
          | {{ vm.user.about || '[about me]' }}
          a.edit-name(ng-click="vm.editField('about')", ng-hide="vm._edit_about")
            i.icon.icon-loliful-icon-edit

        form.form(ng-if="vm._edit_about", ng-submit="vm.setAbout()")
          div.form-group
            label.hidden(for="about") About me
            table.input-table(border="0")
              tr
                td
                  textarea.form-control#about(
                    type="text",
                    ng-model="vm.user.about",
                    maxlength="500",
                    ng-maxlength="500",
                    esc-key="vm.cancelEditField('about');",
                    auto-focus)
                td
                  a.edit-name.btn.btn-mini.btn-primary(ng-click="vm.setAbout()", ng-show="vm._edit_about")
                    i.icon.icon-loliful-icon-checkmark

    .social-profile.text-center
      hr.topOfs.botOfs

      table(border="0")
        tr
          td
            img(ng-src="/assets/img/f-{{vm.social.facebook ? 'on' : 'off'}}.svg", title="Facebook")
          td.actions
            span(ng-show="vm.social.facebook") Connected
            a(href="{{api}}/link/facebook", ng-click="vm.connectAcc()", ng-if="!vm.social.facebook") Connect
            a(ng-click="vm.unlinkAccount('facebook')", ng-if="vm.social.facebook && vm.linkedAccounts > 1") Disconnect
          td.hidden-xs
            a(ng-href="{{vm.social.facebook.l}}") {{ vm.social.facebook.n }}
        tr
          td
            img(ng-src="/assets/img/t-{{vm.social.twitter ? 'on' : 'off'}}.svg", title="Twitter")
          td.actions
            span(ng-show="vm.social.twitter") Connected
            a(href="{{api}}/link/twitter", ng-click="vm.connectAcc()", ng-if="!vm.social.twitter") Connect
            a(ng-click="vm.unlinkAccount('twitter')", ng-if="vm.social.twitter && vm.linkedAccounts > 1") Disconnect
          td.hidden-xs
            a(ng-href="{{vm.social.twitter.l}}") {{ vm.social.twitter.n }}
        tr
          td
            img(ng-src="/assets/img/g-{{vm.social.google ? 'on' : 'off'}}.svg", title="Google")
          td.actions
            span(ng-show="vm.social.google") Connected
            a(href="{{api}}/link/google", ng-click="vm.connectAcc()", ng-if="!vm.social.google") Connect
            a(ng-click="vm.unlinkAccount('google')", ng-if="vm.social.google && vm.linkedAccounts > 1") Disconnect
          td.hidden-xs
            a(ng-href="{{vm.social.google.l}}") {{ vm.social.google.n }}


  div.stats
    hr

    h5
      i.icon.icon-loliful-icon-stats
      | Statistics

    p(ng-if="!vm.stats") Loading stats ..
    div.row(ng-if="vm.stats")
      div.col-xs-4.statistic-col
        .statistic
          h3.title Intros
          h1.count
            a.clickable(ui-sref="profile.activity({id: vm.user.id, activityType: 'nails'})") {{ vm.stats.nailCount || 0 }}
          div.hearts(bs-tooltip, title="So many people liked youre intros")
            i.icon.icon-loliful-icon-liked
            | {{ vm.stats.nailKarma || 0}}
      div.col-xs-4.statistic-col
        .statistic
          h3.title Outros
          h1.count
            a.clickable(ui-sref="profile.activity({id: vm.user.id, activityType: 'hammers'})") {{ vm.stats.hammerCount || 0 }}
          div.hearts(bs-tooltip, title="So many people liked youre outros")
            i.icon.icon-loliful-icon-liked
            | {{ vm.stats.hammerKarma || 0}}
      div.col-xs-4.statistic-col
        .statistic
          h3.title Rank
          h1.count {{ vm.stats.rating.position || '-' }}
          .hearts(ng-if="vm.stats.total") out of {{ vm.stats.total }}

  div.email-preferences
    hr

    h5
      i.icon.icon-loliful-icon-notifications
      | Email notifications

    .row

      form.form.col-xs-12.col-sm-6(name="settings", ng-submit="vm.saveSettings();",
        ng-class="{disabled: !vm.user.email}")
        div.form-group
          label.col-xs-10(for="n-reply") Someone replies to my intro
          .col-xs-2
            input.form-control#n-reply(type="checkbox", ng-model="vm.notifications.emailReply", ng-true-value="1", ng-false-value="0", ng-disabled="!vm.user.email")
        div.form-group
          label.col-xs-10(for="n-like") Someone likes my outro
          .col-xs-2
            input.form-control#n-like(type="checkbox", ng-model="vm.notifications.emailLike", ng-true-value="1", ng-false-value="0", ng-disabled="!vm.user.email")
        div.form-group
          label.col-xs-10(for="n-digest") Send me a digest once a week
          .col-xs-2
            input.form-control#n-digest(type="checkbox", ng-model="vm.notifications.emailDigest", ng-true-value="1", ng-false-value="0", ng-disabled="!vm.user.email")
        div.form-group
          .col-xs-9 &nbsp;
          .col-xs-3
            button.btn.btn-primary(type="submit", ng-disabled="settings.$pristine || vm.savingSettings") Save

    .row.topOfs
      label.col-xs-12 Here is my email to send fun stuff to
      .col-xs-10(ng-if="!vm._edit_email")
        input.form-control#email2(type="text", value="{{vm.user.emailUnverified || vm.user.email}}", disabled)
        p.text-warning(ng-if="vm.user.emailUnverified")
          | Please check your email to finish verification process
      .col-xs-10(ng-if="vm._edit_email")
        form.form(name="vm.emailFrm", ng-submit="vm.setEmail(vm.emailFrm)")
          div.form-group(ng-class="{'has-error': emailFrm.$invalid}")
            label.hidden(for="name") Email
            input.form-control#email(
            type="email",
            name="email",
            ng-model="vm.user.email",
            minlength="4",
            ng-minlength="4",
            required,
            esc-key="vm.cancelEditField('email');",
            auto-focus)
            div(ng-messages="vm.emailFrm.name.$error", role="alert")
              div(ng-message="required") Please tell us your name.
              div(ng-message="maxlength") This might be too long to remember.
              div(ng-message="email") Please input valid email

      .col-xs-2
        a.edit-name(ng-click="vm.editField('email')", ng-hide="vm._edit_email")
          i.icon.icon-loliful-icon-edit
        a.edit-name.btn.btn-mini.btn-primary(ng-click="vm.setEmail(vm.emailFrm)", ng-show="vm._edit_email")
          i.icon.icon-loliful-icon-checkmark
