div.panel.nail-list-item(ng-class="{reported: nlm.nail._isReported, isDeleted: nlm.nail._isDeleted}")
  div.panel-heading
    | {{ href('nail-view', {nailId: nlm.nail.id}, {absolute: true}) }}
    avatar(user="nlm.nail.$user", n1g-if="!nlm.isOwn")
    span.time-ago
      span.icon.icon-loliful-icon-time
      | {{ nlm.nail.created | timeAgo }}
    a.dropdown-menu-trigger(bs-dropdown, data-placement="bottom")
      span.icon.icon-loliful-icon-submenu
    ul.dropdown-menu(role="menu")
      li(ng-if="!nlm.isOwn")
        a.show-sub(ng-click="nlm.report();",
        data-type="info",
        bs-tooltip,
        title="Flag this as inappropriate")
          span.i.icon.icon-loliful-icon-flag
      li
        a(type="button",
        ng-click="nlm.favorite()",
        bs-tooltip,
        title="Сохранить на потом. Вы сможете найти в Активность > Сохраненное",
        ng-class="{active: nlm.nail.$favorite}")
          span.icon(ng-class="{'icon-loliful-icon-bookmark': !nlm.nail.$favorite, 'icon-loliful-icon-bookmarked': nlm.nail.$favorite}")
      li(ng-if="nlm.isOwn || nlm.isMod")
        a.delete(type="button", ng-click="nlm.delete()")
          span.icon.icon-loliful-icon-delete()
      li(ng-if="nlm.isOwn || nlm.isMod")
        a.edit(type="button", ng-click="nlm.startEdit();")
          span.icon.icon-loliful-icon-edit()
      li(title="Прямая ссылка на шутку", bs-tooltip)
        a(type="button",
        ngclipboard,
        data-clipboard-text="{{ $root.href('nail-view', {nailId: nlm.nail.id}, {absolute: true}) }}")
          span.icon.icon-loliful-icon-link()


  div.panel-body.clickable(ng-click="nlm.cardClick($event);", ng-class="{updated: nlm._updated}")
    textarea(ng-model="nlm.nail.text", ng-disabled="nlm._saving", ng-minlength="3", ng-maxlength="212", ng-show="nlm.isEdit")
    .text {{ nlm.nail.text }}
  div.panel-footer(ng-if="!nlm.hideFooter")
    div.row.edit-controls(ng-if="nlm.isEdit")
      div.col-xs-6.text-center
        button.btn.btn-mini.btn-default(type="reset", ng-disabled="nlm._saving", ng-click="nlm.resetEdit()") Отмена
      div.col-xs-6.text-center
        div.countdown {{ 212 - (nlm.nail.text.length || 0) }}
        button.btn.btn-mini.btn-primary(type="submit", ng-disabled="nlm._saving", ng-click="nlm.edit()") Сохранить
    div.row(ng-hide="nlm._reply || nlm.isEdit")
      div.col-xs-3
        a.outros(ui-sref="nail-view({nailId: nlm.nail.id, nail: nlm.nail})",
         title="Answers count: {{nlm.nail.countAnswers}}",
         bs-tooltip)
          i.icon.icon-loliful-icon-outro
          | {{nlm.nail.countAnswers}}
      div.replies(ng-class="{'reply-added': nlm._replyAdded}")
        span Готово!
        div(ng-hide="nlm._reply")
          a.reply.btn.btn-default(ng-click="nlm.showReplyForm()") Ответить
      div.col-xs-6.pull-right.text-right(ng-if="nlm.isOwn")
        a.share(ng-click="nlm.share()")
          i.icon.icon-loliful-icon-share
        a.likes.own(type="button")
          i.icon.icon-loliful-icon-like
          span {{ nlm.nail.countVotes }}
      div.col-xs-6.pull-right.text-right(ng-if="!nlm.isOwn")
        a.share(ng-click="nlm.share()")
          i.icon.icon-loliful-icon-share
        a.likes(type="button", ng-click="nlm.vote()", ng-class="{active: nlm.nail.$votes}")
          i.icon(ng-class="{'icon-loliful-icon-like': !nlm.nail.$votes, 'icon-loliful-icon-liked': nlm.nail.$votes}")
          span {{ nlm.nail.countVotes }}
    div.row(ng-if="nlm._reply")
      form.reply-form.form-inline(ng-submit="nlm.reply();")
        div.countdown {{ 212 - (nlm._hammer.text.length || 0) }}
        div.col-xs-9.col-sm-8
          input.reply.form-control(id="reply-{{nlm.nail.id}}",
            type="text",
            placeholder="",
            ng-model="nlm._hammer.text",
            minlength="1",
            ng-minlength="1",
            maxlength="212",
            ng-maxlength="212",
            required,
            esc-key="nlm.hideReplyForm();"
            auto-focus)
        button.btn.btn-mini.btn-primary(type="submit", ng-disabled="nlm._replying") Ответить
