div.panel.nail-list-item(ng-class="{reported: nlm.nail._isReported}")
  div.panel-heading
    avatar(user="nlm.nail.$user", n1g-if="!nlm.isOwn")
    span.time-ago
      i.icon.icon-loliful-icon-time
      | {{ nlm.nail.created | timeAgo }}
    a.expander(ui-sref="nail-view({nailId: nlm.nail.id, nail: nlm.nail})",
    title="Answers count: {{nlm.nail.countAnswers}}")
      span(ng-if="nlm.nail.countAnswers") {{ nlm.nail.countAnswers }}
  div.panel-body.clickable(
    ui-sref="nail-view({nailId: nlm.nail.id, nail: nlm.nail})",
    ng-if="!nlm.isNailView")
    | {{ ::nlm.nail.text }}
  div.panel-body(ng-click="nlm._reply=false", ng-if="nlm.isNailView")
    | {{ ::nlm.nail.text }}
  div.panel-footer(ng-if="!nlm.hideFooter")
    div.row(ng-hide="nlm._reply")
      div.col-xs-4
        div(ng-click="nlm.showReplyForm()", ng-hide="nlm._reply")
          input.reply.disabled(value="Joke")
      div.col-xs-6.pull-right.text-right(ng-if="nlm.isOwn")
        a.likes.own(type="button")
          i.icon.icon-loliful-icon-like
          span {{ nlm.nail.countVotes }}
        a.delete(type="button", ng-click="nlm.delete()")
          i.icon.icon-loliful-icon-delete()
      div.col-xs-6.pull-right.text-right(ng-if="!nlm.isOwn")
        a.show-sub(ng-click="nlm.report();",
        data-type="info",
        bs-tooltip,
        title="Flag this as inappropriate")
          i.i.icon.icon-loliful-icon-flag
        a(type="button",
        ng-click="nlm.favorite()",
        bs-tooltip,
        title="Save for later. You can find in Activity > Saved",
        ng-class="{active: nlm.nail.$favorite}")
          i.icon(ng-class="{'icon-loliful-icon-bookmark': !nlm.nail.$favorite, 'icon-loliful-icon-bookmarked': nlm.nail.$favorite}")
        a.likes(type="button", ng-click="nlm.vote()", ng-class="{active: nlm.nail.$votes}")
          i.icon(ng-class="{'icon-loliful-icon-like': !nlm.nail.$votes, 'icon-loliful-icon-liked': nlm.nail.$votes}")
          span {{ nlm.nail.countVotes }}
    div.row(ng-if="nlm._reply")
      form.reply-form.form-inline(ng-submit="nlm.reply(); nlm._reply=false;")
        div.col-xs-9.col-sm-8
          input.reply.form-control(id="reply-{{nlm.nail.id}}",
            type="text",
            placeholder="Joke",
            ng-model="nlm._hammer.text",
            minlength="3",
            ng-minlength="3",
            maxlength="212",
            ng-maxlength="212",
            required, auto-focus)
        button.btn.btn-mini.btn-primary(type="submit") Reply
