nav#fm2.float-menu(ng-show="fm.showFloatMenu", ng-class="{single: fm.single}")
  ul.nav.nav-pills
    li.top-nav.hidden
      a(
        bs-popover,
        data-template-url="app/components/navigation/float-popup-menu.html",
        data-placement="top",
        data-trigger="click",
        data-auto-close="true",
        data-container="#fm2"
      )
        i.icon-loliful-icon-menu
    li.add-item(ng-if="!fm.single")
      a(ng-click="fm.addClick()")
        span +
