header.header.clearfix
  nav.navbar.navbar-default(bs-navbar)
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.header-icon(
            type="button",
            aria-expanded="false",
            ng-click="vm.showAside()",
            ng-if="screen.isPhone"
          )
          span.sr-only Menu
          span.icon.icon-loliful-icon-menu
        button.navbar-toggle.header-icon(
            type="button",
            ui-sref="profile",
            ng-if="!screen.isPhone",
            bs-popover,
            data-template-url="app/components/navigation/user-menu.html",
            data-placement="bottom",
            data-trigger="click",
            data-auto-close="true"
          )
          span.sr-only Profile
          img.profile-pic(ng-if="vm.user.avatar", ng-src="{{vm.user.avatar}}")
          span.ng-cloak.profile-pic(ng-if="!vm.user.avatar && vm.user.name") {{ vm.user | initials }}
        button.navbar-toggle.header-icon(type="button", aria-expanded="false", ui-sref="notifications")
          span.sr-only Notifications
          span.icon.icon-loliful-icon-notification
        a.navbar-brand.logo-main(ui-sref="fresh()")
            img(src="/assets/img/logo.svg", alt="Loliful", title="Loliful")

  nav.navbar.main-nav
    ul.nav.nav-pills.top-menu
      li(role="presentation", ng-class="{active: isState('fresh')}")
        a(ui-sref="fresh")
          i.icon.icon-loliful-icon-nav-fresh
          | Fresh
          span.badge(ng-show="vm.freshNails.length>0") {{ vm.freshNails.length }}
      li(role="presentation", ng-class="{active: isState('top')}")
        a(ui-sref="top")
          i.icon.icon-loliful-icon-nav-top
          | Top
      li(role="presentation", ng-class="{active: isState('activity')}")
        a(ui-sref="activity({type: 'nails'})")
          i.icon.icon-loliful-icon-nav-activity
          | Activity
