.modal.share-dialog(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', aria-label='Close', ng-click='$hide()')
          span(aria-hidden='true') ×
        h4.modal-title(ng-bind='title')
      div(ng-bind='content')
      .modal-body
        img(ng-src="{{share.img}}" style="width:98%")
      .modal-footer
        div.social
          a.btn.btn-primary(href='https://www.facebook.com/sharer/sharer.php?u={{share.url}}', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
            img(src='/assets/img/share-fb.svg', alt='Share onFacebook')
          a.btn.btn-primary(href='https://twitter.com/?status={{share.url}}', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
            img(src='/assets/img/share-twitter.svg', alt='Share on Twitter')
          a.btn.btn-primary(href='https://plus.google.com/share?url={{share.url}}', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
            img(src='/assets/img/share-google.svg', alt='Share on Google+')
        div.align-left.copy-row
          button.btn.btn-link(
            ngclipboard,
            data-clipboard-text="{{ share.img }}"
          )
            span(
              bs-tooltip,
              data-title="Copied to clipboard",
              data-trigger="click"
            ) Copy image
          button.btn.btn-link(
            ngclipboard,
            data-clipboard-text="{{ share.url }}"
          )
            span(
              bs-tooltip,
              data-title="Copied to clipboard",
              data-trigger="click"
            ) Copy card url
