.modal.share-dialog(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', aria-label='Close', ng-click='$hide()')
          span(aria-hidden='true') ×
        h4.modal-title(ng-bind='title')
      div(ng-bind='content')
      .modal-body
        img(ng-src="{{share.img}}" style="width:98%")
      .modal-footer
        div.social
          a.btn.btn-primary(
          rel="nofollow",
          href='https://www.facebook.com/sharer/sharer.php?u={{share.url}}',
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
            i.icon.icon-loliful-icon-facebook(title='Share on Facebook')
          a.btn.btn-primary(
          rel="nofollow",
          href='https://twitter.com/intent/tweet?text={{share.url}}&via=loliful_app&hashtags=loliful',
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
            i.icon.icon-loliful-icon-twitter(title='Share on Twitter')
          a.btn.btn-primary(
          rel="nofollow",
          href='https://plus.google.com/share?url={{share.url}}',
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
            i.icon.icon-loliful-icon-google-plus(title='Share on Google+')
        div.social(ng-if="screen.isPhone")
          a.btn.btn-primary(
          rel="nofollow",
          href='whatsapp://send?text={{share.url}}',
          data-action="share/whatsapp/share")
            i.icon.icon-loliful-icon-whatsapp(title='Share on Whatsapp')
          a.btn.btn-primary(
          rel="nofollow",
          href='viber://forward?text={{share.url}}')
            img(src="/assets/img/share-v.png", title="Share on Viber")
        div.align-center.copy-row.vOfs
          a.btn.btn-link(
            href="{{ share.img }}",
            download
          )
            span Download
          a.btn.btn-link(
            ngclipboard,
            data-clipboard-text="{{ share.url }}",
            ng-href="{{ share.url }}"
          )
            span(
              bs-tooltip,
              data-title="Copied to clipboard",
              data-trigger="click"
            ) Copy card url
